.DS_Store
/.idea/
/project-implementation/apps/api/target/
/project-implementation/apps/web/node_modules/
/project-implementation/apps/web/dist/
/project-implementation/apps/web/.npm-cache/

/project-implementation/.local/
/project-implementation/.env
